[submodule "profiles/paulasan-web"]
	path = profiles/paulasan-web
	url = https://github.com/paula-sanchez/paula-sanchez.github.io.git
[submodule "profiles/paulasan"]
	path = profiles/paulasan
	url = https://github.com/paula-sanchez/paula-sanchez.github.io.git
